<div class="container1">
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" >
      <img class="image1" src="assets/images/Hub-Icon.png"     alt="logo" />
      <p>HubRig</p>
    </a>
    
    
   
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <a href="#" class="nav-link"> Why Hubrig ?
          
        </a>
      </li>
      <li class="nav-item ">
        <a href="#" class="nav-link">
          About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <div class="template-demo">

        <button type="button" class="btn btn-dark btn-rounded btn-fw">WorkPlace</button>
      </div>
    </ul>
  
  </div>
</nav>



    <div class="row">
        <div class=" content col-xs-6">
            <div class="container">
            <div class="card border rounded shadow">
                <div class=" child-container card-body">
                  <h2  class="display-3 text-primary">Where Work Happens</h2>
                  <p class="card-description">
                   when your team needs to kick off a project,hire a new<br>
                   employee,deploy some code ,review a sales contact,finalize<br>
                    next year's budget,plan your next office opening and more. <br>Hubrig has you covered.
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                     
                    
                      
                      <input type="text" placeholder="Enter address"  class="form-control" >
                            </div>
                    <button class="btn button mr-2" type="submit"  (click)="getstarted()">Get Started</button>
                
                    <p style="margin-top: 5px;"><small>Already using HubRig ?</small> <a (click)="register()"  class="text-primary" style="padding-left:5px;" >Sign In</a></p>
                  </form>
                </div>
                </div>
                </div>
              </div>
           


        <div class="col-md-6 ">
           
                <img id="img1" src="/assets/images/pic111.png">
            
        </div>
        </div>
  




        <!--
          <div class="d-inline-flex  bd-highlight">
            <img class="imgholder" src="/assets/images/teamwork.png " width="500" height="500" >
  
          </div>

     

-->

<!--
<div class="content default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <img class="imgholder align-self-center"  src="/assets/images/teamwork.png">
  
  </div>-->