<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh 
                       <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
     <!--   <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
     </button>-->
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Channels</span>
        <i  style="margin-left: 100px" class=" w3-meduim mdi mdi-plus-circle-outline icon-sm"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="forms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-message-text"></i>
        <span class="menu-title">Direct Messages</span>
                <i  style="margin-left: 60px" class="mdi mdi-plus-circle-outline icon-sm"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="buttons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-multiple-outline  "></i>
        <span class="menu-title">Invite people</span>
        <i style="margin-left: 80px" class="mdi mdi-plus-circle-outline icon-sm"></i>
      </a>
    </li>
    
  </ul>
</nav>
