<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" >
        <img class="image" src="assets/images/Hub-Icon.png"     alt="logo" />
        <p>HubRig</p>
      </a>
      
      
     
    </div>
    
  </nav>
  
  
  
        <div class="container-fluid no-padding">

                <div class="row">
                    <div class=" content  col-xs-6">
                        <div class="container">
                        <div class="card border rounded shadow">
                            <div class=" child-container card-body">
                              <img  class="img-inline-fluid w-100 "  src="/assets/images/pic113.png"  height="60px">
                                   <br>
                                      <span class="card-title" style="margin-left: 40%">
                                        Sign Up
                                      </span>
                                      <hr style="border: 1px solid rgb(131, 131, 139);" />
                                      <form  class="forms-sample" method="POST" class="register-form" id="register-form">
                                 
                                        <div class="form-group">
                                                <label for="user">Enter Username </label>
                                                <input type="user" name="user" id="user" placeholder="Your Username"  class="form-control"/>
                                            </div>
                                            
                                                   
                                                <div class="row row-space">
                                                        <div class="col-6">
                                                                <div class="form-group">
                                                                        <label for="name">Enter First Name</label>
                                                                        <input type="text" name="fname" id="fname" placeholder="Your FirstName"  class="form-control"/>
                                            </div>                        
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                    <label for="name">Enter Last Name</label>
                                                                    <input type="text" name="lname" id="lname" placeholder="Your LastName"  class="form-control"/>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="form-group">
                                                <label for="email">Enter Address</label>
                                                <input type="email" name="email" id="email" placeholder="Your Email"  class="form-control"/>
                                            </div>

                                            <div class="row row-space">
                                                    <div class="col-6">
                                                            <div class="form-group">
                                                                    <label for="pass">Enter Password</label>
                                                                    <input type="password" name="pass" id="pass" placeholder="Password"  class="form-control"/>
                                         </div>                        
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                                <label for="re-pass">Confirm Password</label>
                                                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"  class="form-control"/>
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="form-group">
                                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                                            </div>

                                            <div class="row row-space">
                                                    <div class="col-6">
                                            
                                                    <button class="btn button mr-2" type="submit" (click)="login()" >Register</button>
                                                 
                                                        <small>  <a (click)="login()" class="signup-image-link text-primary" style="margin-left:10px">I am already member</a>
                                                        </small>  </div></div>
                                        </form>
                                       
                    </div>
                    </div>
                            </div>
                            </div>
                          </div>
                          </div>