<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" >
      <img src="assets/images/Hub-Icon.png"     alt="logo" />
      <p>HubRig</p>
    </a>
    
    
   
  </div>
  
</nav>


<div class="row">
  <div class=" content d-inline-flex flex-row bd-highlight    ">
    <div class="card border rounded shadow-sm">
      <div class=" child-container  card-body">
        <p class=" display-4 text-primary ">Start with Workplace</p>
        <hr style="border: 1px solid rgb(209, 209, 214);" />
        <p class="card-description">In HUbrig, everything happens in a worksplace. Like a virtual office building,
           <br>a worksplace is where your team can gather in Hubrig to communicate <br>
            and get work done.</p>
      

        <div class="list-group">
            <a  (click)="login()" class="list-group-item list-group-item-action flex-column align-items-start ">
                
              <div class="d-flex w-100 justify-content-between">

                
                <h5 class=" text-primary mb-1">Find your Workplace</h5>
              
              </div>
              <small class="text-muted" >join or sign in to existing workplace.</small>
            </a>
            <a (click)="register()" class="list-group-item list-group-item-action flex-column align-items-start">
               
              <div class="d-flex w-100 justify-content-between">
                 
                <h5 class=" text-primary mb-1">Create a new workplace</h5>
               
              </div>
   <small class="text-muted">Get your company on HubRig</small>
            </a>
            <img src="/assets/images/teamwork.png" height="300px">
  </div>
 